{% extends 'FirstApp/layout.html' %}

{% block title %}
  <title>Первая страница на {{caption}}</title>
{% endblock %}

{% block content %}
  <h1>Урок номер 2 по изучению {{caption}}</h1>
  <h1>Добро пожаловать на наш сайт, созданный на платформе {{caption}}! </h1><br>
<h5>
  Django — это мощный фреймворк для веб-разработки, который позволяет создавать безопасные и масштабируемые приложения. </h5>

<h4> На нашем сайте вы найдете информацию о {{caption}} </h4>

<p>Наши специалисты обладают глубокими знаниями и опытом работы с {{caption}},
  что позволяет нам создавать продукты, которые соответствуют самым высоким стандартам качества. </p>
  <p>Мы стремимся к тому, чтобы наши решения были не только функциональными, но и удобными для пользователей.
</p>

<p>Спасибо, что выбрали нас! Надеемся, что наш сайт помогут вам достичь новых высот в ваших начинаниях.</p>
{% endblock %}